# Ignorar dependencias de Node.js
node_modules/

# Ignorar archivo de variables de entorno
.env

# Ignorar archivos de logs
*.log

# Ignorar archivos generados por editores
*~
.DS_Store

# Ignorar carpetas de build/transpilación
dist/
build/
